body { background: #76b5f4; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 23px; display: flex; }
.block-cluster-0 { color: #cf9bf7; font-size: 18px; margin-bottom: 5px; }
.block-logger-1 { color: #9e867e; font-size: 13px; margin-bottom: 5px; }
.block-search-2 { color: #6c845; font-size: 19px; margin-bottom: 5px; }
.block-helper-3 { color: #6df575; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #749090; font-size: 19px; margin-bottom: 5px; }